<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><h3 style="color:aliceblue">LOMDOM</h3></a>
                    </div>
                    <p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế.</p>

                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>MUA SẮM</h6>
                    <ul>
                        <li><a href="">Áo</a></li>
                        <li><a href="#">Quần</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>MUA SẮM</h6>
                    <ul>
                        <li><a href="./about.html">GIỚI THIỆU</a></li>
                        <li><a href="#">COD</a></li>
                        <li><a href="#">Delivary</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>2023
                        Cảm ơn vì đã sử dụng sản phẩm  <i class="fa fa-heart-o"
                        aria-hidden="true"></i> của <a href="https://colorlib.com" target="_blank">LOMDOM</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>